<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joshua Zamora's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="{{ url_for('about') }}"><i class="fas fa-user"></i> About</a></li>
            <li><a href="{{ url_for('projects') }}"><i class="fas fa-briefcase"></i> Projects</a></li>
            <li><a href="{{ url_for('contact') }}"><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
    </nav>
    <div id="particles-js" class="hero">
        <div class="hero-content">
            <h1>Hello, my name is <span>Joshua Zamora</span></h1>
            <h2 class="typewrite" data-period="2000" data-type='[ "Builder.", "Software Engineer.", "Frontend Developer." ]'>
                <span class="wrap"></span>
            </h2>
            <a href="https://docs.google.com/document/d/16HFBGOLwNDAVQIc8zpeeL6VdomntnqwmbwyTit7vrbE/edit?usp=sharing" target="_blank" class="button">View Resume</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Joshua Zamora</p>
    </footer>

    <!-- Contact Form Modal -->
    <div id="contact-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>Contact Me</h1>
            <form id="contactForm" name="submit-to-google-sheet" method="POST">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="entry.786412705" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="entry.1433627596" required>
                </div>
                <div>
                    <label for="message">Message:</label>
                    <textarea id="message" name="entry.1493723441" required></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>
            <p id="responseMessage"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
      const scriptURL = 'https://script.google.com/macros/s/AKfycbxBVuoN2gT-zqvtpVOI8VYT9cuF10FEKo_a0iiOsioIh0ojj4R3a_JzydtytM_RODAE/exec'
      const form = document.forms['submit-to-google-sheet']

      form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
          .then(response => {
              document.getElementById('responseMessage').innerText = 'Thank you for your message!';
              form.reset();
          })
          .catch(error => {
              document.getElementById('responseMessage').innerText = 'There was an error submitting your message. Please try again.';
              console.error('Error!', error.message)
          })
      })
    </script>
</body>
</html>
